.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

/*used student made login ui tutorial in google classroom 
to help position background*/
#jellyfish-background {
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color:#81b4d9;*/
    background-color: rgba(109, 126, 132, 0.446);
    border: 2px solid rgb(250, 247, 247);
    box-shadow: 12px 10px 25px -6px #8084f9;
    border-radius: 35px 35px 35px 35px;
    height: 300px;
    width: 250px;
    margin: auto;
    flex-direction: column;
    row-gap: 10px;
    z-index: 1;
}

.title {
    color: #fdfcff;
    font-family: 'Rampart One', cursive;
}

#username-email:hover {
    background-color: #9ea2a5;
    color: white;
    box-shadow: 0px 0px 11px 7px rgba(199, 237, 250, 0.75);

}

#user-password:hover {
    background-color: #9ea2a5;
    color: white;
    box-shadow: 0px 0px 11px 7px rgba(199, 237, 250, 0.75);

}

.login-button button {
    background: #4835fa;
    border: 2px solid white;

}

.login-button button:hover {
    background-color:#4835fa;
    color:aliceblue;
    box-shadow: 0px 0px 11px 7px rgba(199, 237, 250, 0.75);
}